@font-face {
  font-family: "Helvetica", sans-serif;
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica-bold", sans-serif;
  src: url(../fonts/helvetica-bold.woff2);
  font-style: normal;
  font-weight: 700;
}
.header{
  border-bottom: 1px solid #5C5C5E;
  padding: 19px 0;
  
}
.conteiner{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.menu{
  display: flex;
}
.menu__link{
  margin-right: 20px;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: auto;
  color: #5C5C5E;
}
.logo{
  padding-right: 476px;
  padding-left: 214px;
}
.section-top{
  padding-top: 230px;
  min-height:  calc( 100vh - 81px);
  background-image: url("../images/section-top-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.section-top__title{
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 96px;
  text-align: left;
  color: #5C5C5E;
  line-height: auto;
  margin-bottom: 10px;

}
.section-top__subtitle{
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: left;
  color: #5C5C5E;
  line-height: auto;
  margin-bottom: 5px;
}
.section-top__text{
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: left;
  color: #5C5C5E;
  line-height: auto;
}

.button-top{
  margin-top: 50px;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  cursor: pointer;
  border: none;
  display: flex;
  padding: 1px;
  text-transform: uppercase;
}

.button-top__text{
  font-family: "Helvetica-bold", sans-serif;
  font-size: 16px;
  color: #F6F4F5;
  line-height: auto;
  font-weight: 700;
  padding: 21px 111px;
}
.button-top__price{
  font-family: "Helvetica-bold", sans-serif;
  font-size: 16px;
  color: #5C5C5E;
  line-height: auto;
  font-weight: 700;
  background-color: #e7e5e6;
  padding: 21px 105px;
}
.section-top__additional-text{
  font-family: "Helvetica", sans-serif;
  font-size: 13px;
  color: #5C5C5E;
  line-height: auto;
  font-weight: 400;
  margin-top: 10px;
}
.features__titles{
  display: flex;
  padding-top: 100px;
}
.features__title-section-title{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 16px;
color: #5c5c5e;

}
.features__text{
max-width: 330px;
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 36px;
text-transform: uppercase;
background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-left: 135px;
margin-bottom: 20px;



}
.bottom-content{
  display: grid;
  grid-template-columns: 300px auto;
}
.features__item{
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.features__item-btn{
background: none;
margin-bottom: 20px;
font-family: "Helvetica-bold", sans-serif;
font-weight: 700;
font-size: 16px;
color: #5c5c5e;
}
.features__item-btn:hover{
  color: #070707;
  transition: color 0.5s linear;

}
.features__tabs-content{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 24px;
color: #5c5c5e;

}
.features__tabs-content p{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 16px;
color: #5c5c5e;
padding-top: 10px;
padding-left: 7px;
}
.video__btn{
  border-radius: 25px;
}
.features__content{
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: auto 150px;
  gap: 40px;

}
.features__img{
  width: 580px;
  height: 300px;
  grid-row: 1 / -1;
  
}
.video span{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 13px;
color: #f6f4f5;
}
.video{
  width: 280px;
  height: 150px;
  background-image: url(../images/video-product-features.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px 9px;
  grid-column: 2 / 3;
 
}
.video__btn{
  margin-left: 22px;
  margin-bottom: 9px;
}
.games{
  margin-top: 100px;
  

}
.game-title{
  margin-bottom: 50px;
}
.section-title{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 16px;
color: #5c5c5e;
} 
.games-descr__title{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 36px;
text-transform: uppercase;
background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


}
.games-descr__text{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #5c5c5e;
  

}
.games__inner{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.games-descr{
  padding-right: 10px;
}
.games-descr__text{
  margin-top: 10px;
  margin-bottom: 30px;
}
.games__link{
display: inline-block;
font-family: "Helvetica-bold", sans-serif;
font-weight: 700;
font-size: 16px;
background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding: 16px 48px;
border: 1px solid #BC10D8;
}

.games__item{
  border: 1px solid #BC10D8;
  padding: 20px 20px 22px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.item-img{
  margin-bottom: 10px;
}

.item-title{
margin-bottom: 10px;
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 24px;
color: #070707;
}


.item-text{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 16px;
color: #5c5c5e;
margin-bottom: 40px;
}
.item-link{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 16px;
background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  
}

.banner{
margin-top: 100px;
position: relative;
overflow: hidden;


}
.banner__image{
  display: flex;
  justify-content: center;
  overflow: hidden;

}

.banner__img{
  position: relative;
}

.banner__title{
font-family: "Helvetica-bold", sans-serif;
font-weight: 700;
font-size: 400px;
background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
opacity: 0.1;
animation: title-animation 6s linear 1s infinite;
position: absolute;
bottom: 57.5px;



}

@keyframes title-animation{
  0%{
    transform: translateX(115%);
    transform-origin: left center;

  }
  100%{
    transform: translateX(-115%);
    transform-origin: right center;
  }

}



.button-banner{
margin-top: 30px;
background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
cursor: pointer;
border: none;
display: flex;
padding: 1px;
text-transform: uppercase;
margin: auto;
  
}

.button-banner__text{
font-family: "Helvetica-bold", sans-serif;
font-size: 16px;
color: #F6F4F5;
line-height: auto;
font-weight: 700;
padding: 21px 111px;
}
.button-banner__price{
font-family: "Helvetica-bold", sans-serif;
font-size: 16px;
color: #5C5C5E;
line-height: auto;
font-weight: 700;
background-color: #FFFF;
padding: 21px 105px;
}
.banner__additional-text{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 13px;
color: #5c5c5e;
text-align: center;
margin-top: 10px;
}

.equipment{
margin-top: 110px;
}
.equipment-title{
margin-bottom: 50px;

}
.equipment__title-gradient{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 36px;
text-transform: uppercase;
background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
grid-column: 3 / 4;
grid-row: 1 / 2;
}
.equipment-content__text{
font-family: "Helvetica", sans-serif;
font-size: 16px;
font-weight: 400;
color: #5C5C5E;
margin-top: 10px;
}
.equipment-content{
display: grid;
grid-template-columns: 1fr 300px 300px;
grid-template-rows: 250px 250px ;
gap:  30px 20px ;
}
.img-4{
grid-column: 3 / 4;
}
.img-3{
grid-column: 2 / 3;
grid-row: 2 / 2;
}
.img-2{
grid-column: 2 / 3 ;
grid-row: 1 / 2;
}

.poster{
 margin-top: 100px;
}
.poster__content{
position: relative;
display: flex;
justify-content: center;

}

.poster__text{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 16px;
color: #F6F4F5;
text-shadow: 0 4px 4px  #bc10d8;
text-align: center;
width:109px ;
height: 36px;
position: absolute;
align-self: flex-start;
padding-top: 63px;
 
  
}

.poster-btn{
border-radius: 100%;
background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) ;
width: 50px;
height: 50px;
color: #FFFF;
font-family: "Helvetica-bold", sans-serif;
font-weight: 700;
text-align: center;
font-size: 16px;
position: absolute;
align-self: flex-end;
margin-bottom: 79px;
}



.Accessories{
margin-top: 100px;
}
.Accessories__items{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Accessories__title{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 36px;
text-transform: uppercase;
background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin: 30px 0;
}


.Accessories__item-title{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 24px;
color: #070707;
min-height: 56px;
margin-bottom: 10px;
 

}

.Accessories__item-text{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 16px;
color: #5c5c5e;
margin-bottom: 42px;
min-height: 36px;

}
.Accessories__item-price{
font-family: "Helvetica-bold", sans-serif;
font-weight: 700;
font-size: 16px;
color: #070707;
min-height: 18px;
}

.Accessories__item{
padding: 20px;
border: 1px solid #bc10d8;
display: flex;
flex-direction: column;
justify-content: space-between;

  
}
.Accessories__item-image{
margin-bottom: 10px;
}

.Accessories__item-buttom{
margin-top: 20px;
font-family: "Helvetica-bold", sans-serif;
font-weight: 700;
font-size: 16px;
background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
border: 1px solid #bc10d8 ;
padding: 9px;

}

.pre-footer{
  margin-top: 100px;
}
.pre-footer__title{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 24px;
color: #070707;
}
.pre-footer-buttom{
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cacad6;
  padding-bottom: 4px;
  
  
}
.pre-footer-buttom__text{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 13px;
color: #cacad6;

}
.pre-footer-btn{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.pre-footer-btn p{
font-family: "Helvetica", sans-serif;
font-weight: 700;
font-size: 16px;
color: #5c5c5e;
}
.pre-footer-buttom{
  margin-top: 27px;

}
.pre-footer-adress{
  display: flex;
  justify-content: space-between;
}
.pre-footer-adress__text{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 13px;
color: #5c5c5e;
max-width: 50%;
margin-top: 10px;
}
.pre-footer-adress__mail{
font-family: "Helvetica", sans-serif;
font-weight: 400;
font-size: 16px;
color: #5c5c5e;
align-self: flex-end;
padding-right: 20px;

}
.pre-footer__content{
  border-right: 1px solid #cacad6;
}

.footer{
  margin-top: 99px;
}
.footer__nav ul{
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #5C5C5E;
}
.footer__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}
.footer__image{
  padding-right: 312px;
  padding-left: 89px;
}

.footer{
  border-top: 1px solid #CACAD6;
  border-bottom: 1px solid #CACAD6;
}
.footer__ikons{
  width: 130px;
  display: flex;
  justify-content: space-between;
}
.footer__menu{
  width: 374px;
  display: flex;
  justify-content: space-between;
}


.menu__burger{
  background-color: #CACAD6;
  padding: 1px;
  width: 50px;
  height: 6px;
  border-radius:  50px;
  visibility: hidden;
}













@media (max-width: 1260px){
  
  .features__content{
    grid-template-columns: auto 1fr;

  }
  .games__inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  
  .bottom-content{
    display: block;
  }
  .features__item{
    padding-left: 18px;
    display: block;
    flex-direction: row;
    align-items: flex-start;
    column-count: 2;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: nowrap;
  }
  .features__item-btn{
    display: block;
  }
  .features__img{
    width: auto;
    height: auto;
  }
  .equipment-content{
    display: block;
    text-align: center;
  }
  .equipment-content__image-and-text{
    padding-bottom: 30px;
  }
  .equipment__title-gradient{
    padding-bottom: 20px;
    text-align: left;
  }

  .Accessories__items{
    text-align: center;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px;
  }
  .footer__image{
    padding-right: 0px;
    padding-left: 0px;
  }
.logo{
  padding-right: 0px;
  padding-left: 0px;
}

}

@media (max-width: 1225px){
  .poster{
    overflow: hidden;
  }

}


@media (max-width: 930px){
  .features__content{
   display: flex;
   flex-direction: column;
  }
  .bottom-content{
    display: block;
  }
  
 }

 @media (max-width:850px){
 .footer__nav{
  display: block;
 }
 .footer__menu{
  padding-bottom: 20px;
  margin: 0 auto;
 }
 .footer__image{
  padding-bottom: 20px;
  text-align: center;
 }
.footer__ikons{
  margin: 0 auto;

}
 }

 @media (max-width: 660px){
  .section-top__title{
   font-size: 72px;
  }
  .section-top__subtitle{
   font-size: 32px;
  }
  .Accessories__items{
    text-align: center;
    grid-template-columns: 1fr;
    gap: 10px 10px;
  }

 }

 

 @media (max-width: 635px){
  .video{
    margin: auto;
  }
  .features__tabs-content{
    text-align: center;
  }
  .features__text{
    font-size: 32px;
  }
 .features__titles{
  display: block;
 }
 .features__text{
  font-size: 30.1px;
  margin: 10px auto;
 }
 .features__item{
  display: flex;
  flex-direction: column;
 }
 .games__inner{
  grid-template-columns: repeat(1, 1fr);
}
.games-descr__title{
  font-size: 30px;
}
.banner__title{
  font-size: 320px;
  bottom: 130px;
  
 }
 .banner{
  padding-bottom:1px;
 }
 .section-top__title{
  font-size: 72px;
 }
 .section-top__subtitle{
  font-size: 32px;
 }
 .button-top{
   flex-direction: column;
   text-align: center;
   margin-right: auto;
   margin-left: auto;
 } 
 .section-top{
   text-align: center;
 }
 .section-top__title{
   text-align: center;
 }
 .section-top__subtitle{
   text-align: center;
 }
 .section-top__text{
   text-align: center;
 }
 .button-banner{
   flex-direction: column;
   text-align: center;
 }
 .equipment__title-gradient{
  font-size: 30px;
 }
 .equipment-content__img{
  width: 280px;
  height: 220px;
  border: 0.1px solid #cacad6;
 }
 .Accessories__title{
  font-size: 30px;
 }
 .pre-footer-buttom{
  justify-content: space-between;
  padding-right: 5px;
 }
 .pre-footer-adress{
  display: block;
}
.pre-footer-adress__text{
  padding-bottom: 20px;
  max-width: 100%;
}
.menu{
  visibility: hidden;
  display: block;

}
.menu__burger{
  visibility: visible;
 
 
}

 

 }


 
@media (max-width: 560px){
  .section-top__title{
   font-size: 72px;
  }
  .section-top__subtitle{
   font-size: 32px;
  }
  .pre-footer-adress{
    display: block;
  }
  .pre-footer-adress__text{
    padding-bottom: 20px;
    max-width: 100%;
  }
 }

 @media (max-width: 466px){
  .section-top__title{
   font-size: 45.6px;
  }
  .section-top__subtitle{
   font-size: 24px;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .logo{
    margin: 0 auto;
  }
 }

 @media (max-width: 405px){
  .games__item{
   padding: 10px 10px 12px 10px;
  }
  .banner__title{
   font-size: 220px;
   bottom: 140px;
  }
  .banner__img{
   height: 190px;
  }
  .banner{
   padding-bottom:1px;
  }

  .footer__menu{
    display: block;
  }
  .footer__menu li{
    display: block;
    padding-bottom: 10px;
  }
  .footer__image{
    text-align: left;
  }
  .footer__ikons{
    margin: 0;
  }
 




}
  
 @media (max-width: 350px){
  .games__item{
   padding: 10px 10px 12px 10px;
  }
  .banner__title{
   font-size: 220px;
   bottom: 180px;
  }
  .banner__img{
   height: 190px;
  }
  .banner{
   padding-bottom:1px;
  }
  .Accessories__item{
    padding: 13px;
  }
  .pre-footer-adress{
    display: block;
  }
  .pre-footer-adress__text{
    padding-bottom: 20px;
    max-width: 100%;
  }
  
  }











